.logo {
  font-size: 3rem;
}

header a {
  font-size: 1.2rem;
}

ul {
  gap: 2rem;
}

.caption span.border {
  font-size: 1.5rem;
  letter-spacing: 4px;
}

.gorgeous {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.inquiry button {
  top: 55%;

  font-size: 1.2rem;
  padding: 1rem;
}

.capu {
  left: 20%;
  font-size: 1.2rem;
}

.ourservice-h3,
.bio h3,
.lux h3 {
  font-size: 2rem;
}

.lobito p {
  font-size: 1.5rem;
}

.lobito button {
  font-size: 1rem;
}
.bio p {
  font-size: 1.1rem;
}

.grid-view p {
  font-size: 1.2rem;
  padding: 0 0;
}

.grid-view button {
  margin-top: 2rem;
  font-size: 1rem;
  padding: 1rem;
}
.material-symbols-outlined {
  font-size: 1.2rem;
}

.fill {
  left: 10%;
}

.fill-in {
  height: 500px;
  width: 400px;
}

.form-p {
  height: 500px;
  width: 400px;
}
.form-p p {
  font-size: 1rem;
}

.p-div {
  margin-bottom: 0rem;
}
label {
  font-size: 1.3rem;
}
