html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  font-size: 10rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}
header {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

ul {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

header a {
  font-size: 3rem;
  color: #fff;
}

.lobito {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2rem 10rem;
  background-color: #fff;
  margin-left: 15rem;
  margin-right: 15rem;
  opacity: 0.9;
}

.bgimg-1 {
  background-image: url("./images/img6.jpg");
  min-height: 100%;
  opacity: 70%;
}

.bgimg-2 {
  background-image: url("./images/img3.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("./images/img2.jpg");
  min-height: 100%;
}
.bgimg-4 {
  background-image: url("./images/img5.jpg");
  min-height: 100%;
}

.set {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5rem;
}
.img-1 {
  position: relative;
  background-image: url("./images/img10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  min-width: 150px;
}

.img-2 {
  position: relative;
  background-image: url("./images/img7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  min-width: 150px;
}

.img-3 {
  position: relative;
  background-image: url("./images/img8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  min-width: 150px;
}
.img-4 {
  position: relative;
  background-image: url("./images/img9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  min-width: 150px;
}

.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
}

.lobito p {
  font-size: 4rem;
  color: #000;
  line-height: 1.5;
  text-align: center;
}

.lobito button {
  background-color: #000;

  font-size: 2rem;
  align-self: center;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  margin-bottom: 5rem;
}

.lobito a {
  color: #fff;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 4.5rem;
  letter-spacing: 10px;
}

.gorgeous {
  color: #fff;
  font-size: 1.9rem;
  letter-spacing: 0.4rem;
}

.inquiry button {
  position: absolute;
  left: 45%;
  top: 70%;
  border: none;
  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;

  text-align: center;
  color: #000;
}
.capu {
  opacity: 80%;
  border-radius: 1rem;
  background-color: #777;
  padding: 0.5rem;
  position: absolute;
  left: 35%;
  top: 45%;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
.bio {
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  background-color: #282e34;
  color: #fff;
  text-align: center;
  text-align: justify;
  margin-bottom: 0;
}
.bio p {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 7rem;
}

.ourservice-h3,
.bio h3,
.lux h3 {
  font-size: 4rem;
  text-align: center;
}

.grid-view {
  text-align: center;
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
  padding-bottom: 5rem;
}
.grid-view p {
  font-size: 1.9rem;
  padding: 0 10rem;
}
.grid-view button {
  border: none;
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: goldenrod;
  padding: 2rem;
}
.grid-view button:hover {
  background-color: #fff;
  padding: 2rem;
}

.fill {
  position: absolute;
  background-color: #fff;
  min-width: 60%;
  left: 20%;
  top: 12%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fill-in {
  background-image: url("./images/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-p {
  height: 800px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-p p {
  color: #000;
  font-size: 1.7rem;
}
.p-div {
  padding-top: 1rem;

  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

input {
  width: 15rem;
  height: 2rem;
  border: 2px solid gray;
}

textarea {
  width: 15rem;
  border: 2px solid gray;
}

form button {
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 7rem;
  padding: 0.5rem;
  cursor: pointer;
}

label {
  font-size: 1.6rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 24;
  color: goldenrod;
  font-size: 2rem;
}

.menu {
  display: none;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 768px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}
