.logo {
  font-size: 5rem;
}

header a {
  font-size: 1.7rem;
}

ul {
  gap: 3rem;
}

.caption span.border {
  font-size: 3rem;
  letter-spacing: 5px;
}

.gorgeous {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.inquiry button {
  top: 60%;

  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
}

.capu {
  left: 20%;
}

.bio p {
  font-size: 1.2rem;
}

.grid-view p {
  font-size: 1rem;
  padding: 0;
}

.material-symbols-outlined {
  font-size: 1.5rem;
}

.lobito p {
  font-size: 2rem;
}

.grid-view button {
  font-size: 1rem;

  padding: 1rem;
}

.grid-view p {
  padding: 0 5rem;
}

.fill {
  left: 15%;
}

.fill-in {
  height: 600px;
  width: 500px;
}

.form-p {
  height: 600px;
  width: 500px;
}

.form-p p {
  font-size: 1.2rem;
}

.ourservice-h3,
.bio h3,
.lux h3 {
  font-size: 2.5rem;
  text-align: center;
}
